// TODO - Split styling into individual files
$box-size: 20px;

@mixin random-font-color(){
  color: rgb(random(255), random(255), random(255));
}

@mixin chat-box {
  background-color: white;
  border: 1px solid white;
  box-shadow: inset 0px 1px 5px 1px #222;
  color: #222;
  flex: 1 1 40%;
}

.game-page {
  display: flex;
  flex-wrap: wrap;
  font-family: 'Roboto Condensed', sans-serif;
  .header {
    flex: 0 0 100%;
  }
  .top-row {
    flex: 1 1 100%;
    justify-content: space-between;
    margin-bottom: 20px;
    .logo {
      font-size: 3rem;
    }
    .tools-container {
      border: 1px solid white;
      padding: 10px 0;
      .tools {
        display: flex;
        .tool-box {
          height: $box-size;
          width: $box-size;
          user-select: none;
          cursor: crosshair;
          &:hover {
            box-shadow: inset 0 0 10px 6px white;
          }
          &:active {
            box-shadow: 0 0 10px 6px yellow;
          }
        }
      }
    }
    .color-selector {
      display: flex;
      flex-flow: row wrap;
      margin: 6px 2px 0;
      .color-box {
        cursor: crosshair;
        flex: 0 1 $box-size;
        margin: 2px;
        &:hover {
          box-shadow: inset 0 0 10px 6px yellow;
        }
        &:active {
          box-shadow: 0 0 10px 6px yellow;
          z-index: 1;
        }
      }
    }
    .clear-button {
      flex: 1 1 auto;
    }
  }
  .game-area {
    justify-content: space-between;
    width: 100%;
  }
}

.chat-container {
  flex: 0 0 50%;
  .chat-row {
    flex: 1 1 100%;
    justify-content: space-between;
    &:first-child {
      // max-height: 33%;
      margin-bottom: 20px;
    }
    &:nth-child(2) {
      height: 40px;
    }
  }
  .player-list,
  .game-chat {
    @include chat-box;
  }

  .player-list {
    flex: 0 0 35%;
    overflow-y: scroll;
    scrollbar-width: thin;
    .player-count {
      padding-left: 20px;
      text-align: left;
    }
    ul {
      list-style: none;
      padding: 0 30px 0 20px;
      text-align: left;
      .player-item {
        display: flex;
        justify-content: space-between;
        &:first-child {
          color: red;
        }
        &:nth-child(2) {
          color: #20ac3e;
        }
        // @for $i from 0 to 100 {
        //   &:nth-child(#{$i}) { @include random-font-color() }
        // }
      }
    }
  }

  .game-chat {
    flex: 0 0 62%;
    height: 322px;
    .chat {
      border-radius: 10px;
      margin: 2px 0;
      .user {
        color: red;
      }
    }
  }

  .chat-input {
    width: 100%;
  }
  
  .general-chat {
    border: 1px solid white;
    flex: 1 1 100%;
    margin-top: 20px;
    height: 212px;
    .chat {
      .user {
        color: pink;
      }
    }
  }

  .game-chat,
  .general-chat {
    overflow-y: scroll;
    scrollbar-width: thin;
    scroll-snap-align: end;
    ul {
      list-style: none;
      padding: 0 30px 0 20px;
      text-align: left;
      .chat {
        margin: 4px 0;
        &.admin {
          .message {
            color: gray;
            font-style: italic;
          }
        }
      }
    }
    &.focused {
      outline: 2px solid palevioletred;
    }
  }
}

.color-box {
  height: $box-size;
  &.black { background-color: black;}
  &.blue { background-color: blue;}
  &.green { background-color: green;}
  &.orange { background-color: orange;}
  &.purple { background-color: purple;}
  &.pink { background-color: pink;}
  &.red { background-color: red;}
  &.turquoise { background-color: turquoise;}
  &.white { background-color: white;}
  &.yellow { background-color: yellow ;}
}

.canvas-container {
  display: flex;
  justify-content: space-around;
  height: 600px;
  #room-canvas {
    background: white;
  }
  // .tools-container {
  //   border: 1px solid white;
  //   padding: 10px 0;
  //   .tools {
  //     display: flex;
  //     .tool-box {
  //       height: $box-size;
  //       width: $box-size;
  //       user-select: none;
  //       cursor: crosshair;
  //       &:hover {
  //         box-shadow: 0 0 10px 6px white;
  //       }
  //       &:active {
  //         box-shadow: 0 0 10px 6px yellow;
  //       }
  //     }
  //   }
  //   .color-selector {
  //     border-bottom: 1px solid white;
  //     display: flex;
  //     .color-box {
  //       flex: 0 0 $box-size;
  //       cursor: crosshair;
  //       &:hover {
  //         box-shadow: 0 0 10px 6px aliceblue;
  //       }
  //       &:active {
  //         box-shadow: 0 0 10px 6px yellow;
  //       }
  //     }
  //   }
  // }
  // .clear-button {
  //   flex: 0 0 100%;
  // }
}

.current-tool-container {
  border: 1px solid white;
  padding: 10px;
  justify-content: center;
  .line-width-button {
    padding: 4px;
  }
  .color-box {
    width: $box-size;
  }
}
