$box-size: 40px;
@mixin chat-box {
  border: 1px solid white;
  flex: 1 1 40%;
}

.game-page {
  display: flex;
  flex-wrap: wrap;
  .header {
    flex: 0 0 100%;
  }
  .top-row {
    flex: 1 1 100%;
    .tools-container {
      border: 1px solid white;
      padding: 10px 0;
      .tools {
        display: flex;
        .tool-box {
          height: $box-size;
          width: $box-size;
          user-select: none;
          cursor: crosshair;
          &:hover {
            box-shadow: 0 0 10px 6px white;
          }
          &:active {
            box-shadow: 0 0 10px 6px yellow;
          }
        }
      }
    }
    .color-selector {
      // border-bottom: 1px solid white;
      display: flex;
      .color-box {
        flex: 0 0 $box-size;
        cursor: crosshair;
        &:hover {
          box-shadow: 0 0 10px 6px aliceblue;
        }
        &:active {
          box-shadow: 0 0 10px 6px yellow;
        }
      }
    }
    .clear-button {
      flex: 1 1 auto;
    }
  }
  .game-area {
    width: 100%;
  }
}

.chat-container {
  flex-wrap: wrap;
  .player-list,
  .game-chat {
    @include chat-box;
  }
  
  .general-chat {
    border: 1px solid white;
    flex: 1 1 100%;
  }
}

.color-box {
  height: $box-size;
  width: $box-size;
  &.black { background-color: black;}
  &.blue { background-color: blue;}
  &.green { background-color: green;}
  &.orange { background-color: orange;}
  &.purple { background-color: purple;}
  &.pink { background-color: pink;}
  &.red { background-color: red;}
  &.white { background-color: white;}
}

.canvas-container {
  display: flex;
  justify-content: space-around;
  #room-canvas {
    background: white;
  }
  // .tools-container {
  //   border: 1px solid white;
  //   padding: 10px 0;
  //   .tools {
  //     display: flex;
  //     .tool-box {
  //       height: $box-size;
  //       width: $box-size;
  //       user-select: none;
  //       cursor: crosshair;
  //       &:hover {
  //         box-shadow: 0 0 10px 6px white;
  //       }
  //       &:active {
  //         box-shadow: 0 0 10px 6px yellow;
  //       }
  //     }
  //   }
  //   .color-selector {
  //     border-bottom: 1px solid white;
  //     display: flex;
  //     .color-box {
  //       flex: 0 0 $box-size;
  //       cursor: crosshair;
  //       &:hover {
  //         box-shadow: 0 0 10px 6px aliceblue;
  //       }
  //       &:active {
  //         box-shadow: 0 0 10px 6px yellow;
  //       }
  //     }
  //   }
  // }
  // .clear-button {
  //   flex: 0 0 100%;
  // }
}

.current-tool-container {
  border: 1px solid white;
  padding: 10px;

  .line-width-button {
    padding: 4px;
  }
}
